<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">
        <!-- Drawer -->
        <mat-drawer class="w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <!-- Header -->
            <div class="bg-white sticky top-0">
                <div class="flex flex-row gap-3 ">
                    <button class="cursor-pointer p-2 flex items-center rounded-none bg-gray-100 " mat-flat-button (click)="back()">
                        <mat-icon class="text-current icon-size-4 mr-2" [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                        Volver
                    </button>
                    <p class="p-2 text-lg font-bold">FILTROS</p>
                </div>
            </div>

            <!-- Filters -->
            <div class="overflow-y-hidden">
                <!-- categoria -->
                <div class="py-2 px-5 flex flex-col">
                    <p class="text-secondary font-medium">Categoría</p>
                    <mat-checkbox [(ngModel)]="programas" (change)="onCategoriaChange('programas')">Programas</mat-checkbox>
                    <mat-checkbox [(ngModel)]="tags" (change)="onCategoriaChange('tags')">Tags</mat-checkbox>
                </div>
                <!-- fecha -->
                <div class="px-5">
                    <p class="text-secondary font-medium">Fecha</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" (click)="fromDatePicker.open()">
                            <input matInput [matDatepicker]="fromDatePicker" [placeholder]="'Desde'">
                            <mat-datepicker #fromDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" (click)="toDatePicker.open()">
                            <input matInput [matDatepicker]="toDatePicker" [placeholder]="'Hasta'">
                            <mat-datepicker #toDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <!-- genero -->
                <div class="px-5 mt-2">
                    <p class="text-secondary font-medium">Género</p>
                    <mat-form-field class="w-full mt-2" [subscriptSizing]="'dynamic'">
                        <mat-select placeholder="Seleccionar género">
                            <ng-container *ngFor="let color of ['Serie Web', 'Documental', 'Humorístico', 'Informativo', 'Institucional', 'Imágenes de apoyo', 'Magazin', 'Musical']">
                                <mat-option [value]="color">{{color | titlecase}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Programa -->
                <div class="px-5 mt-2">
                    <p class="text-secondary font-medium">Programa</p>
                    <mat-form-field class="w-full mt-2" [subscriptSizing]="'dynamic'">
                        <input matInput placeholder="Buscar programa">
                    </mat-form-field>
                    <div class="overflow-y-auto h-60 mt-3">
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="p-2 mt-2 sticky bottom-0 bg-white">
                <button class="rounded-none w-full" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'feather:filter'"></mat-icon>
                    <span class="hidden sm:inline-block ml-2">Filtrar</span>
                </button>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto p-6 sm:p-10">

                <!-- Drawer toggle -->
                <button class="mb-4" mat-icon-button (click)="matDrawer.toggle()">
                    <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                </button>

                <!-- CONTENT GOES HERE -->
                <div class="h-400 min-h-400 max-h-400">
                    <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,]">
                        <div class="col-span-1 flex flex-col cursor-pointer hover:bg-gray-100 p-2 rounded-sm">
                            <!-- container img program -->
                            <div class="bg-black w-full">
                                <img class="object-cover" src="assets/images/dashboard/thumbnail.png" alt="thumbnail programa">
                            </div>
                            <p class="truncate pt-2 text-lg font-bold">Nombre programa</p>
                            <p class="text-secondary text-md font-semibold">Desde - Hasta</p>
                        </div>
                    </ng-container>
                </div>

            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</div>

<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <div class="p-2 bg-white w-full flex justify-between">
        <div class="flex flex-row gap-3 ">
            <a class="cursor-pointer p-2 flex items-center rounded-none bg-gray-100 " mat-flat-button [routerLink]="['/programas']">
                <mat-icon class="text-current icon-size-4 mr-2" [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                Volver
            </a>
            <p class="p-2 text-lg font-bold">FILTROS</p>
        </div>
        <div>
            <button mat-icon-button (click)="matDrawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
        </div>
    </div>

    <mat-drawer-container class="flex-auto h-full">
        <!-- Drawer -->
        <mat-drawer class="w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <!-- Header -->
            <!-- <div class="bg-white sticky top-0">
                <div class="flex flex-row gap-3 ">
                    <a class="cursor-pointer p-2 flex items-center rounded-none bg-gray-100 " mat-flat-button [routerLink]="['/programas']">
                        <mat-icon class="text-current icon-size-4 mr-2" [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                        Volver
                    </a>
                    <p class="p-2 text-lg font-bold">FILTROS</p>
                </div>
            </div> -->

            <!-- Filters -->
            <div class="overflow-y-hidden">
                <!-- categoria -->
                <div class="py-2 px-5 flex flex-col">
                    <p class="text-secondary font-medium">Categoría</p>
                    <mat-checkbox [(ngModel)]="programas" (change)="onCategoriaChange('programas')">Programas</mat-checkbox>
                    <mat-checkbox [(ngModel)]="fichas" (change)="onCategoriaChange('fichas')">Fichas</mat-checkbox>
                </div>
                <ng-container *ngIf="programas">

                </ng-container>
                <!-- fecha -->
                <!-- <div class="px-5">
                    <p class="text-secondary font-medium">Fecha</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" (click)="fromDatePicker.open()">
                            <input matInput [matDatepicker]="fromDatePicker" [placeholder]="'Desde'">
                            <mat-datepicker #fromDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" (click)="toDatePicker.open()">
                            <input matInput [matDatepicker]="toDatePicker" [placeholder]="'Hasta'">
                            <mat-datepicker #toDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> -->
                <!-- genero -->
                <!-- <div class="px-5 mt-2">
                    <p class="text-secondary font-medium">Género</p>
                    <mat-form-field class="w-full mt-2" [subscriptSizing]="'dynamic'">
                        <mat-select placeholder="Seleccionar género">
                            <ng-container *ngFor="let color of ['Serie Web', 'Documental', 'Humorístico', 'Informativo', 'Institucional', 'Imágenes de apoyo', 'Magazin', 'Musical']">
                                <mat-option [value]="color">{{color | titlecase}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <!-- Programa -->
                <!-- <div class="px-5 mt-2">
                    <p class="text-secondary font-medium">Programa</p>
                    <mat-form-field class="w-full mt-2" [subscriptSizing]="'dynamic'">
                        <input matInput placeholder="Buscar programa">
                    </mat-form-field>
                    <div class="overflow-y-auto h-60 mt-3">
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                        <mat-checkbox class="example-margin">Programas</mat-checkbox>
                    </div>
                </div> -->
            </div>

            <div class="p-2 mt-2 bg-white">
                <button class="rounded-none w-full" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'feather:filter'"></mat-icon>
                    <span class="hidden sm:inline-block ml-2">Filtrar</span>
                </button>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col bg-white">

            <!-- Main -->
            <div class="flex-auto p-6 sm:p-10">

                <!-- Header -->
                <div class="flex items-center">
                    <div class="flex items-center flex-auto gap-2">
                        <mat-form-field class="fuse-mat-rounded fuse-mat-dense flex-auto" [subscriptSizing]="'dynamic'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'" matPrefix></mat-icon>
                            <input matInput [autocomplete]="'off'" [placeholder]="'Realizar busqueda'" #searchInput>
                        </mat-form-field>
                        <button class="sm:inline-flex" mat-button [matMenuTriggerFor]="orderByMenu">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-arrow-down'"></mat-icon>
                            <span class="hidden sm:inline-block ml-2">Ordenar</span>
                        </button>
                        <mat-menu #orderByMenu="matMenu">
                            <button mat-menu-item (click)="sortByOnChange('Todos')">
                                <span class="flex items-center">
                                    <span>Todos</span>
                                </span>
                            </button>
                            <button mat-menu-item (click)="sortByOnChange('Mas Recientes')">
                                <span class="flex items-center">
                                    <span>Mas Recientes</span>
                                </span>
                            </button>
                            <button mat-menu-item (click)="sortByOnChange('Mas Antiguos')">
                                <span class="flex items-center">
                                    <span>Mas Antiguos</span>
                                </span>
                            </button>
                            <button mat-menu-item (click)="sortByOnChange('Alfabeticamente: Ascendente')">
                                <span class="flex items-center">
                                    <span>Alfabeticamente: Ascendente</span>
                                </span>
                            </button>
                            <button mat-menu-item (click)="sortByOnChange('Alfabeticamente: Descendente')">
                                <span class="flex items-center">
                                    <span>Alfabeticamente: Descendente</span>
                                </span>
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <div class="flex w-full justify-between px-5 py-2">
                    <p class="text-secondary font-semibold">10 resultados encontrados</p>
                    <p class="text-secondary font-normal">Ordenado por: {{sortFilter}}</p>
                </div>

                <!-- CONTENT GOES HERE -->
                <div class="h-400 min-h-400 max-h-400">
                    <div class="border-2 p-4 mb-4" *ngFor="let item of [1,1,1,1,1,1]">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                            <div class="w-full">
                                <img src="assets/images/dashboard/thumbnail.png" alt="img video">
                            </div>
                            <div class="w-full">
                                <p class="font-semibold text-2xl">Nombre del programa</p>
                                <p class="text-secondary font-medium text-xl">Desde - Hasta (Fechas de emisión)</p>
                                <div class="grid grid-cols-4 mt-3 items-center gap-4" *ngFor="let item of [1,1]">
                                    <div class="col-span-1">
                                        <img src="assets/images/dashboard/thumbnail.png" alt="">
                                    </div>
                                    <div class="col-span-3 flex flex-col">
                                        <p class="font-semibold text-xl">Capítulo 0000</p>
                                        <p class="text-secondary font-semibold text-xl">DD/MM/AAAA</p>
                                    </div>
                                </div>
                                <p class="text-lg text-secondary mt-2">0000 Capítulos mas...</p>
                            </div>
                        </div>
                        <div class="w-full flex justify-between mt-2 items-center">
                            <p class="text-secondary">0000 conicidencias</p>
                            <a class="rounded-none hover:shadow-md" [color]="'primary'" mat-flat-button [routerLink]="['/programas/filtro/2']">Ver todos los resultados</a>
                        </div>
                    </div>
                    <mat-paginator class="bg-transparent" [length]="0" [pageIndex]="0" [pageSize]="20" [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</div>
