.background-login{
    // background-color: #f9f9f9;
    // background: repeating-linear-gradient( 45deg, #9ba0ff, #9ba0ff 18px, #f9f9f9 18px, #f9f9f9 90px );

        --s: 60px; /* control the size */

        --_c: #7586e829 calc(100% - var(--s)/2) 99%,#0000;
        --_g: var(--s),#0000 calc(99% - var(--s)/2),var(--_c);
        background:
          radial-gradient(var(--s) at 100% var(--_g)),
          radial-gradient(calc(var(--s)/4) at 50% calc(100%/3),var(--_c)) var(--s) 0,
          radial-gradient(var(--s) at   0% var(--_g)) 0 calc(3*var(--s))
          #ffffff;
        background-size:
          calc(2*var(--s)) calc(9*var(--s)/4),
          calc(2*var(--s)) calc(3*var(--s)/4);

}
